body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0px;
    background-image: url('Webpage Background.png');
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

nav ul li {
    padding: 10px 20px;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

nav ul li a:hover {
    color: #f0a500;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    margin: 0;
}

.dropdown-content {
    display: none;
    border-top: 1px solid #d0d0d0;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
}

.hero h1 {
    font-size: 4em;
    margin: 0;
    color: #0ff;
    text-shadow: 2px 2px 8px #000;
}

.hero p {
    font-size: 1.5em;
    color: #ff0;
    text-shadow: 2px 2px 8px #000;
}

article {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

article img {
    width: 12.5%; /* 再减小一半 */
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

h2 {
    color: #0ff;
    text-shadow: 2px 2px 8px #000;
}

h3 {
    color: #ff0;
    text-shadow: 2px 2px 8px #000;
}

h5{
    color: #7300ff;
    padding: 0;
    margin: 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-shadow: 2px 2px 8px #000;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}

form button {
    padding: 10px;
    background-color: #f0a500;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

form button:hover {
    background-color: #d48800;
}

ol {
    list-style: none;
    padding: 0;
    text-align: left; /* 左对齐 */
}

ol li {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 0px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    display: flex;
    align-items: center;
    
}

ol li img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

ol li p {
    margin: 0;
}

ol li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
}

ol li a:hover {
    color: #f0a500;
}

.myfloat{
    float: left;
    margin:0 0 5px 5px;
    border:solid;
}

/* ---------------Guide Page------------------*/
.header {
    width: 80%; /* Adjust width as needed */
    max-width: 900px; /* Maximum width for larger screens */
    margin: 15px auto; /* Center the section and add vertical margin */
    padding: 10px; /* Adjust padding as needed */
    background-color: rgba(0, 0, 0, 0.7); /* Background color */
    border-radius: 100px;   
    border: 13px double #7300ff;
    text-align: center; /* Center-align text */
}


.game-tips {
    display: flex;
    flex-wrap: wrap;
    margin: 5px; /* Ensure minimal margin */
    padding: 0; /* Ensure no padding */
}

.left-column {
    flex: 2;
    padding: 20px;
    background-color: (0, 0, 0, 0.7);
    margin-right: 0px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 200, 255, 0.665);
    min-width: 570px; /* Ensure a minimum width */

} 

.left-column img {
    width: 100%;
    height: auto;
}

.left-column h2 {
    color: #00f2ff;
    margin: 10px 0;
    transition: text-decoration 0.3s;
}

.left-column h1 {
    font-size: 24px;
    margin: 10px 0;
}

.left-column p {
    margin: 10px 0;
    color: #ffffff;
}

.left-column a {
    text-decoration: none;
}

.left-column h2:hover {
    text-decoration: underline;
}

.right-column {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 0;
    margin-right: 0;
    width: 100%;
}

.guides-list {
    flex: 2.5;
    margin: 5px;
}

.guide-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.guide-item img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.guide-content {
    flex: 1;
}

.guide-content h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

.guide-content p {
    margin: 0 0 10px;
    color: #ffffff;
}

.guide-content a {
    color: #007BFF;
    text-decoration: none;
}

.guide-content a:hover {
    text-decoration: underline;
}

.author {
    font-style: italic;
    font-size: 0.8em;
    color: #888;
}

/* ------------------------watch section------------------------------ */
.box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 96%;
    max-width: 1400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;

    margin: 30px auto; /* Add margin for space between sections */
    padding: 10px; /* Add padding to the box */
    border-radius: 8px; /* Optional: rounded corners */
    border: 1px solid #ddd; /* Optional: border around the box */
}

.box-title {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.box-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    z-index: -1;
}

.box-title span { /*----------------------*/
    background: #ffffff;
    border-radius: 100px;   
    border: 13px double #7300ff;
    padding: 0 15px;
    font-size: 1.5em;
    color: #333;
}

.main-content {
    flex: 3;
    padding: 20px 20px 10px 10px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.sidebar {
    flex: 2.3;
    background-color: #000000;
    padding: 20px;
    box-sizing: border-box;
}

iframe {
    background-color: #0015ff95;
    color: #0015ff95;

    margin-bottom: 10px;
    width: 100%;
    height: 80%;
    max-width: 110%;
}

.main-content .video-title {
    margin-left: 9px;
}

.video-title {
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.sidebar .video-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0015ff95;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebar .video-item img {
    width: 140px;
    height: 80px;
    object-fit: cover;
}

.sidebar .video-item .video-info {
    flex: 1;
    padding-right: 10px;
}

.sidebar .video-item .video-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
}

.sidebar .video-item .video-duration {
    font-size: 0.9em;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 0px;
}

.sidebar .video-item .video-info a{
    text-decoration: none; 
    color: #ffffff; 
}

.sidebar .video-item .video-info a:hover .video-title {
    text-decoration: underline; 
    color: #00eaff;
}

/*----------------------Game Guide------------------------------*/
.game-guides {
    background-color: rgba(0, 0, 0, 0.7);
    width: 96%;
    max-width: 1400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the container */
    display: flex;
    margin: 30px auto; /* Add margin for space between sections */
    padding: 0px 10px 0px 10px; /* Add padding to the box */
    border-radius: 8px; /* Optional: rounded corners */
    border: 1px solid #ddd; /* Optional: border around the box */
}

.game-guides main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Space between items */
    padding: 35px; /* Space between contents and the edge of the screen */
}

.game-guides article {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Ensure image fits within border */
    text-align: center; /* Center align text and title */
}

.game-guides img {
    width: 100%;
    height: 200px; /* Set a fixed height for images */
    object-fit: cover; /* Ensure images cover the area without distortion */
}

.article-content {
    padding: 10px;
    text-align: justify; /* Justify the text */
}

.article-content h2 {
    margin-top: 0;
    font-size: 1.2em;
    text-align: center; /* Center the text */
}

.game-guides a {
    text-decoration: none;
    color: #007BFF;
}

.game-guides a:hover {
    text-decoration: underline;
}



/*-------------------Ranking page---------------------*/
.ranking-container .start {
    color: #d0d0d0;
    background-color: rgba(0, 0, 0, 0.7); /* Background color */
    border: 13px double #7300ff;
    padding: 2%;
    padding-top: 20px;
    position: relative; /* Ensure it is positioned correctly */
    margin-top: 20px;
    text-align: center;
}

.ranking-container {
    max-width: 1300px;
    margin: auto;
}
.card {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0px 0px 10px 0px; /* Add margin for space between sections */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    position: relative;
    
}
.card img {
    width: 130px;
    height: 175px;
    border-radius: 8px;
    margin-right: 20px;
}
.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 90px; /* Add padding to prevent text from overlapping the rating and button */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    color:#007bff;
}
.card-subtitle {
    font-size: 12px;
    color: #888888;
    margin-top: 13px;
    margin-bottom: 7px;
}
.card-genre {
    font-size: 12px;
    color: #888888;
    margin-top: 0px;
    margin-bottom: 10px;
}
.critic-score-container {
    position: absolute;
    top: 18px;
    right: 25px;
    text-align: center;
}
.critic-score {
    font-size: 13px;
    color: #ffffff;
    margin-top: 0px;
}

.card-critic-rating {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #3bff05;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 18px;
}

.user-score-container {
    position: absolute;
    top: 110px;
    right: 26px;
    text-align: center;
    
}
.user-score {
    font-size: 13px;
    color: #ffffff;
    margin-top: 0px;

}
.card-rating {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #007bff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 18px;
}
.card-description {
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    text-align: justify;

}
.details-toggle {
    cursor: pointer;
    width: 100px;
    border-radius: 13px;
    color: #ffffff;
    font-size: 12px;
    background: #46009b;
    margin: 0;
    padding: 0;
}

.details-toggle:hover {
    background: #3cb0fd;
    text-decoration: none;
    }

.details-container {
    display: none;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
}
.rating-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.rating-bar > div {
    height: 10px;
    border-radius: 5px;
}
.rating-bar .positive {
    background-color: #00c853;
}
.rating-bar .mixed {
    background-color: #ffeb3b;
}
.rating-bar .negative {
    background-color: #d50000;
}
.rating-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.pagination a:hover {
    text-decoration: underline;
    color: #00b7ff;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ffffff;
    background: rgba(0, 0, 0, 0.7);
    color:#d0d0d0 ;
}
.tab {
    padding: 12px 20px;
    cursor: pointer;
    position: relative;
}
.tab:hover {
    color: #000000;
}
.tab.active {   
    color: #1e90ff;
    border-bottom: 3px solid #1e90ff;
}
.content {
    display: none;
    padding: 20px;
}
.content.active {
    display: block;
}
.score-title {
    font-weight: bold;
    color: #007bff;;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 0px;
}